@charset "utf-8";
/* CSS Document */
.btn1{
	cursor: pointer;
	transition: 1.5s;
	background-color: #7BE173;
}

.btn2{
	cursor: pointer;
	transition: 1.5s;
	background-color:#E0CF76;
}

.btn3{
	cursor: pointer;
	transition: 1.5s;
	background-color:#DB588D;
}

.btn4{
	cursor: pointer;
	transition: 1.5s;
	background-color:#DD8754;
}

.btn5{
	cursor: pointer;
	transition: 1.5s;
	background-color:#D06CD9;
}

.btn6{
	cursor: pointer;
	transition: 1.5s;
	background-color:#5867DF;
}

.btn7{
	cursor: pointer;
	transition: 1.5s;
	background-color:#D75052;
}

.btn1:hover{
	background-color:#26901E;
	
}

.btn2:hover{
	background-color:#78691B;
}